.home-page {
    background-color: #313544;
}
.skills {
    /* background-color: #227237246; */
}
.logo {
    /* height: 20px; */
    
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    
}



